.item-info {
    position: absolute;
    width: 90%;
    max-height: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 0.9rem;
    border: 2px solid $mainColor;
    left: calc(50% - 45%);
    top: 10vh;
    border-radius: 4px;
    z-index: 9;
    padding: 1rem;

    .item-info-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        @media screen and (min-height: 375px) {
            overflow: initial;
        }
    }

    &__high-durability {
        color: #090;
    }

    &__low-durability {
        color: #ff8c2a;
    }

    &__illustration {
        width: 75px;
        height: 100px;
        margin-right: 0.5rem;
    }

    &__description {
        width: calc(100% - 75px - 0.5rem);

        &--broken {
            color: #c00;
            font-weight: bold;
        }
    }

    &__requirement {
        color: #900;
    }

    &__actions {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        z-index: 4;
    }

    &__discard {
        position: absolute;
        top: calc(50% - 30% - 2rem);
        left: calc(50% - 40% - 2rem);
        border: 2px solid #000;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        padding: 1rem;
        z-index: 5;

        &__caution-text {
            margin-bottom: 0.5rem;
        }

        &__amount {
            width: 100%;
            margin-bottom: 0.5rem;

            > input {
                width: 50%;
            }
        }
    }

    &--not-pristine {
        border: 2px solid #ff8c2a;
    }

    &--broken {
        border: 2px solid #c00;
    }
}