.top-navigation {
    width: 100%;
    max-height: 85px;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

    &__links {
        display: flex;
        align-items: center;

        a {
            color: #fff;
            display: block;
            padding: 2rem 1rem;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                color: #999;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        .game-icon:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        &__activity {
            color: #fff;
            padding-right: 1rem;

            @media (max-width: $mobileSize) {
                display: none;
            }
        }
    }

    &__discord-link {
        font-size: 1rem;
        margin-right: 1rem;
    }

    &__reddit-link {
        color: #ff3f19;
        margin-right: 1rem;
    }
}