.search-autocomplete {
    position: relative;

    &__dropdown {
        position: absolute;
        background-color: #fefefe;
        color: #000;
        left: 0;
        width: 100%;
        padding: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid #ccc;
        overflow-y: auto;

        li {
            list-style: none;
            margin: 0;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $mainColorOpacity;
            }
        }

        &--active {
            background-color: $mainColorOpacity;
        }
    }
}