.party-page {
    .avatar {
        width: 80px;
        height: 80px;
        border: 2px solid #000;
    }

    .member-block {
        border: 2px solid #000;
        display: flex;
        align-items: center;

        .info {
            padding: 0 1rem;
            width: calc(100% - 160px);
        }

        .important-info {
            width: 80px;
            height: 80px;
            border: 2px solid #f00;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .top-member-info {
        display: flex;
        align-items: center;

        .avatar {
            border-top: 0;
        }

        .info {
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            width: calc(100% - 80px);
            height: 80px;
            padding: 2px 1rem 0 1rem;
        }
    }

    .member-stats {
        padding: 20px 0;

        .stats {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .stat {
                text-align: center;

                .stat-upgrade {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;

                    .stat-action {
                        font-size: 22px;
                        border: 1px solid #000;
                        border-radius: 4px;
                        padding: 0 10px;

                        &.disabled {
                            border: 1px solid #999;
                            color: #999;
                        }
                    }

                    span {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    .stats-manipulation {
        padding: 15px 30px 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .member-params {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}