
.hunt-actions {
    text-align: left;

    .hunt-time-buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .btn {
            outline: 0;
            border: 2px solid #808080;
            width: 30%;
            margin-bottom: 0.25rem;

            &.selected {
                border: 2px solid $mainColor;
            }
        }
    }

    &__configuration {
        margin-top: 1rem;
        display: block;
        text-align: center;
    }
}