.weather {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 5s;
    mix-blend-mode: multiply;

    &--night {
        background-color: #4755f7;
    }

    &--sunset {
        background-color: #ffa07b;
    }

    &--sunrise {
        background-color: #ffca7c;
    }

    &--rain {
        background-color: #53789e;
    }

    &__snow {
        &:before {
            content: " ";
            display: block;
            height: 100%;
            background-image: url("#{$assets}/images/snow.png");
            background-repeat: repeat-x;
            background-position: bottom;
        }
    
        &:last-of-type {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 0;
            list-style: none;
            z-index: 1;
            perspective: 800px;
    
            li {
                display: block;
                background-image: url("#{$assets}/images/snow.png");
                height: 1200px;
                width: 200%;
                margin-left: -50%;
                transform: translateY(-600px);
                transform-origin: 0 0;
                background-repeat: repeat;
                animation: snowfall 20s linear infinite;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                pointer-events: none;
    
                &:nth-child(2) {
                    animation: snowfallX 20s linear infinite;
                    background-position: 50px 50px;
                    transform: translateY(-600px) translateZ(250px);
    
                    @media (max-width: 1366px) {
                        display: none;
                    }
                }
            }
        }
    
        @keyframes snowfall {
            to {
                transform: translateY(0);
            }
        }
    
        @keyframes snowfallZ {
            to {
                transform: translateY(0) translateZ(150px);
            }
        }
    
        @keyframes snowfallX {
            to {
                transform: translateY(0) translateZ(250px);
            }
        }
    
        @keyframes snowfallY {
            to {
                transform: translateY(0) translateZ(-150px);
            }
        }
    }
}