.home-page {
    .names {
        max-width: 100px;
    }

    .member-block {
        margin-bottom: 1rem;

        .member-text {
            display: inline-block;
            width: 75px;
        }
    }
}