.home {
    font-size: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .character-name {
        display: flex;
        width: 50%;
        margin: 2rem auto 0 auto;
        padding: 0.2rem 0.4rem;
    }

    .character-pickers {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &__proceed {
        display: flex;
        margin: 1rem auto;
    }

    &__stats-explanation {
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}