.home {
    .names {
        max-width: 100px;
    }

    .member-block {
        margin-bottom: 1rem;

        .member-text {
            display: inline-block;
            width: 75px;
        }
    }

    .character-view {
        width: 240px;
        height: 240px;
        margin: 0 auto;
        position: relative;

        &__head {
            position: absolute;
            top: 75px;
            left: calc(50% - 14px);
        }

        &__body img {
            width: 240px;
            height: 240px;
        }
    }

    .character-pickers {
        position: absolute;
        bottom: 0;
        left: calc(50% - 60px);
    }
}