.settings {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .settings-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        padding: 1.25rem 1.25rem $chat-tabs-height-padding 1.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__character-select {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__config,
    &__statistics {
        width: 100%;

        @media (min-width: $mobileSize) {
            width: 49%;
        }
    }

    &__statistics {
        margin-top: 2rem;

        @media (min-width: $mobileSize) {
            margin-top: 0;
        }
    }

    &__setting {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;

        &--centered {
            text-align: center;
            display: block;
            width: 100%;
        }

        &__socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .game-icon:hover {
                background-color: rgba(255, 255, 255, 0.8);
            }

            &__discord {
                justify-content: center;
                margin-right: 1rem;
            }

            &__reddit a {
                color: #ff3f19;

                &:hover {
                    color: #333;
                }
            }
        }

        &__version {
            font-size: 0.85rem;
            color: #333;
        }

        &__title {
            color: #fff;
        }

        &__slider {
            min-width: 200px;
            height: auto;
            padding: 0.5rem 1rem;
            width: 70%;
            display: flex;
            justify-content: space-between;
        }

        &__icon {
            color: #fff;

            &--disabled {
                color: #900;
            }
        }

        &__copy-link {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__statistic {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.2rem 1rem;
        border-bottom: 1px solid #999;
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.9);

        &:nth-last-child(1) {
            border-bottom: 0;
        }

        &__name {
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__value {
            width: 50%;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $mainColor;
        }
    }
}

$slider-height: 20px !default;
$slider-width: 130px !default;
$rail-height: 4px !default;
$knob-size: 20px !default;
$rail-color: #e2e2e2 !default;
$rail-fill-color: $mainColor !default;
$knob-color: #fff !default;
$knob-border: 1px solid #f5f5f5 !default;
$knob-shadow: 1px 1px rgba(0, 0, 0, 0.2) !default;

.range-slider {
    display: inline-block;
    padding: 0 ($knob-size / 2);
    height: $slider-height;
    width: $slider-width;
}
.range-slider.disabled {
    opacity: 0.5;
}
.range-slider-inner {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
.range-slider-rail,
.range-slider-fill {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: $rail-height;
    border-radius: $rail-height / 2;
    transform: translateY(-50%);
}
.range-slider-rail {
    width: 100%;
    background-color: $rail-color;
}
.range-slider-fill {
    background-color: $rail-fill-color;
}
.range-slider-knob {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    height: $knob-size;
    width: $knob-size;
    border: $knob-border;
    border-radius: 50%;
    background-color: $knob-color;
    box-shadow: $knob-shadow;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.range-slider-hidden {
    display: none;
}