.map {
    position: relative;

    &__row {
        display: flex;
        width: calc(205px * 3);
    }

    &__piece {
        width: 203px;
        height: 203px;
        border: 2px solid transparent;
        position: relative;

        &--selected {
            border: 2px solid #00f;
        }

        &--traveling {
            animation: border 2s 1s infinite, mapTravelingBorderColor 2s 1s infinite;
        }

        &--disabled {
            opacity: 0.4;
        }

        img {
            width: 100%;
        }

        &__name {
            position: absolute;
            top: 20px;
            color: #fff;
            font-size: 1.25rem;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 8px;
            padding: 0.2rem 0.4rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        &__levels {
            position: absolute;
            top: 60px;
            color: #fff;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 4px;
            padding: 0.2rem 0.4rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;

            &--too-high {
                color: #c00;
            }

            &--too-low {
                color: rgb(98, 98, 255);
            }
        }
    }
}

@keyframes mapTravelingBorderColor {
    0% {
        border: 2px solid transparent;
    }
    50% {
        border: 2px solid #c00;
    }
    100% {
        border: 2px solid transparent;
    }
}