.item-finder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .item-finder-wrapper {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem 0 $chat-tabs-height-padding 0;
        width: 100%;
    }

    .search-autocomplete {
        width: 100%;
        padding: 0 0.5rem;

        &__dropdown {
            left: 0.5rem;
            width: calc(100% - 1rem);
        }

        .search-input {
            margin: 0;
        }
    }

    &__search {
        width: 100%;
        padding: 0 1rem;
    }

    &__cost-of-research {
        font-size: 0.9rem;
        font-weight: bold;
        color: #b00;
    }

    &--block {
        width: 100%;
        padding: 1rem;
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.95);
        font-size: 0.9rem;
        border: 2px solid $mainColor;
        border-radius: 4px;
        max-width: calc(100% - 2rem);

        @media (min-width: $mobileSize) {
            width: calc(50% - 2rem);
        }
    }

    &__item-info {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        &__illustration {
            width: 75px;
            height: 100px;
            margin-right: 0.5rem;
        }
    
        &__description {
            width: calc(100% - 75px - 0.5rem);
        }
    }

    &__title {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        word-break: break-all;

        &-sub {
            font-size: 1.2rem;
        }
    }

    &__explanation {
        padding: 1rem;
        font-size: 0.85rem;
    }

    &__empty {
        width: 100%;
        font-size: 0.8rem;
        font-style: italic;
        text-align: center;
        padding-top: 1rem;
    }

    &__drops {
        width: 100%;
        
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid $mainColor;
            width: 100%;
            overflow-x: auto;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        &__image {
            padding-right: 1rem;

            img {
                max-width: $mobMaxImageWidth;
                max-height: $mobMaxImageHeight;
            }
        }

        &__name {
            font-weight: bold;
        }

        &__locations {
            width: 100%;
            margin-top: 1rem;
            display: flex;

            &__location {
                padding: 0 1rem;
                width: 95px;
                align-self: flex-end;

                img {
                    width: 50px;
                    display: block;
                }

                &-dungeon {
                    width: 50px;
                    height: 50px;
                    background-color: #666;
                }
            }
        }
    }

    &__orders {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &-sell,
        &-buy {
            padding-top: 1rem;
            width: 50%;
        }

        &-buy {
            .item-finder__orders-list {
                border-right: 0;
            }
        }

        &-avg-price {
            width: 100%;
            display: flex;
            align-items: center;
            padding-top: 1rem;

            &__price {
                width: 50%;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    &__orders-list {
        height: 300px;
        overflow-y: auto;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;

        &__item {
            display: flex;
            align-items: center;

            &-price {
                font-weight: bold;
            }
        }
    }

    &__market {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid $mainColor;
        padding-bottom: 1rem;

        @media (min-width: $mobileSize) {
            flex-wrap: nowrap;
            padding-bottom: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        &__item {
            max-width: 60px;
        }

        &__shop-image {
            border: 2px solid $mainColor;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 4px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
        }

        &__shop-name {
            font-weight: bold;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__shop-info {
            min-width: 200px;
        }

        &__price {
            text-align: center;
        }
    }
}