.character {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");
    display: block;
    
    @media (min-width: $mobileSize) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .equipment {
        display: flex;
        width: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        height: 250px;

        @media (min-width: $mobileSize) {
            width: 49%;
            order: 1;
            border-right: 1px solid $mainColor;
            border-bottom: 1px solid $mainColor;
        }

        &__left,
        &__right {
            width: 40%;
        }

        &__avatar {
            width: 20%;
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
            padding-top: 2rem;
            position: relative;

            .avatar {
                left: calc(50% - 60px);

                @media (min-width: $mobileSize) {
                    margin: 0;
                }

                &__head {
                    top: 17px;
                }

                &__headgear {
                    top: calc(50% - 67px);
                }
            }

            &__ammo {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

        &__placeholder {
            position: absolute;
            color: #d1d1d2;
            left: 50px;
            font-size: 1rem;
            bottom: 0;
        }

        &__info {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 22px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 4;
            font-size: 0.75rem;
            cursor: pointer;
        }

        &__slot {
            position: relative;
            height: 50px;
            border-bottom: 1px solid rgba(179, 179, 179, 0.8);

            &--clicker {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                cursor: pointer;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            height: 50px;
            width: calc(100% - 22px);
            z-index: 2;
    
            img {
                width: 35px;
                margin: 0 0.5rem;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.75);
                border-radius: 8px;
            }
    
            &__name {
                font-size: 1rem;
                z-index: 2;
                overflow: hidden;
                height: 100%;
            }
        }
    }

    .equipment-modal {
        width: 80%;
        padding: 0;
        max-height: 90%;
        overflow-y: auto;

        &__item {
            padding: 1rem;
            border-bottom: 2px solid #333;
            display: flex;
            align-items: center;

            &__amount {
                padding-left: 0.5rem;
            }

            img {
                width: 35px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        &__buttons {
            padding: 1rem;
            margin-top: 0;
        }
    }

    .skills-button {
        display: flex;
        justify-content: center;
        margin: 1rem auto $chat-tabs-height-padding auto;
        width: 90%;

        @media (min-width: $mobileSize) {
            display: none;
        }
    }

    &__skills-list {
        @media (max-width: $mobileSize) {
            display: none;
        }
    }

    @media (min-width: $mobileSize) {
        .attributes {
            order: 2;
            width: 49%;
            border-top: 0;
            align-items: center;
            height: 250px;
            border-left: 1px solid $mainColor;
        }

        .stats {
            padding-bottom: 50px;
            order: 3;
            width: 49%;
            border-right: 1px solid $mainColor;

            &__wrapper {
                width: 100%;
            }
        }

        .skills-list {
            width: 49%;
            margin-left: 1%;
            order: 4;
            border-left: 1px solid $mainColor;
            border-top: 1px solid $mainColor;
            max-height: 590px;
            overflow-y: auto;

            &__bottom {
                padding: 0.5rem 0 50px 0;
            }
        }
    }
}