.character {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .info {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ff0;
        outline: 1px solid #000;
        border-radius: 4px;
        background-color: rgb(184, 135, 2);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;

        &__description {
            width: 60%;

            &__name {
                font-weight: bold;
                font-size: 1.1rem;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 130px;
            }
        }

        &__health {
            display: flex;
            flex-wrap: wrap;
            width: 40%;

            &__hp,
            &__mp {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        &__levels {
            width: 25%;

            &__base {
                display: block;
            }
        }

        &__exp {
            width: 25%;
            font-size: 0.9rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &__base {
                width: 100%;
            }
        }
    }

    .equipment {
        display: flex;
        width: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.9);

        &__left,
        &__right {
            width: 40%;
        }

        &__avatar {
            width: 20%;
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
            padding-top: 2rem;

            .avatar {
                left: calc(50% - 60px);
            }
        }

        &__placeholder {
            position: absolute;
            color: rgb(179, 179, 179);
            left: 40px;
            font-size: 1rem;
            bottom: 0;
        }

        &__head,
        &__rhand,
        &__robe,
        &__lhand,
        &__body,
        &__shoes,
        &__accessory {
            position: relative;
            height: 50px;
            border-bottom: 1px solid rgba(179, 179, 179, 0.8);
        }
    }
}