.character {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .equipment {
        display: flex;
        width: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);

        &__left,
        &__right {
            width: 40%;
        }

        &__avatar {
            width: 20%;
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
            padding-top: 2rem;

            .avatar {
                left: calc(50% - 60px);
            }
        }

        &__placeholder {
            position: absolute;
            color: #d1d1d2;
            left: 50px;
            font-size: 1rem;
            bottom: 0;
        }

        &__slot {
            position: relative;
            height: 50px;
            border-bottom: 1px solid rgba(179, 179, 179, 0.8);
        }

        &__item {
            display: flex;
            align-items: center;
            height: 50px;
    
            img {
                width: 35px;
                margin: 0 0.5rem;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.75);
                border-radius: 8px;
            }
    
            &__name {
                font-size: 1rem;
                z-index: 2;
            }
        }
    }

    .equipment-modal {
        width: 80%;
        padding: 0;
        max-height: 90%;
        overflow-y: auto;

        &__item {
            padding: 1rem;
            border-bottom: 2px solid #333;
            display: flex;
            align-items: center;

            &__amount {
                padding-left: 0.5rem;
            }

            img {
                width: 35px;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        &__buttons {
            padding: 1rem;
            margin-top: 0;
        }
    }

    .skills-button {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        width: 90%;
    }

    &__tabs {
        display: flex;

        .btn {
            width: 50%;
            border-radius: 0;
        }
    }

    .skills-list {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        padding: 1.25rem;

        &__skill {
            display: flex;
            align-items: center;

            &__image {
                padding-right: 2rem;

                &--disabled {
                    opacity: 0.4;
                }
            }

            &__info {
                width: 50%;
            }
        }

        &__incdec {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff;
            background-color: rgb(22, 179, 252);
            text-align: center;
            font-size: 1.25rem;
            margin-left: 1rem;
    
            &--disabled {
                opacity: 0.5;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            padding: 0.5rem 0 1rem 0;
            background-color: rgba(255, 255, 255, 0.8);
        }
    
        &__points {
            font-size: 0.8rem;
            padding: 0.5rem 1.5rem;
            display: inline-flex;
            align-content: center;
            width: 50%;
    
            &__points {
                color: rgb(22, 179, 252);
                padding-left: 0.3rem;
    
                &--empty {
                    color: #000;
                }
            }
        }
    
        &__apply {
            width: 40%;
        }
    }

    .skill-info {
        position: absolute;
        width: 90%;
        max-height: 80%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.95);
        font-size: 1rem;
        border: 2px solid #000;
        left: calc(50% - 45%);
        top: 10vh;
        border-radius: 4px;
        z-index: 3;
        padding: 1rem;

        &__requirement {
            color: #900;
        }
    }
}