.game {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    p {
        margin: 0.2rem 0;
    }
    
    &.prontera {
        background-image: url("#{$assets}/images/locations/prontera.jpg");
    }

    &.prontera.culvert {
        background-image: url("#{$assets}/images/locations/sewers.jpg");
    }

    &.izlude {
        background-image: url("#{$assets}/images/locations/izlude.jpg");
    }

    &.payon {
        background-image: url("#{$assets}/images/locations/payon.jpg");
    }

    &.alberta {
        background-image: url("#{$assets}/images/locations/alberta.jpg");
    }

    &.morocc {
        background-image: url("#{$assets}/images/locations/morocc.jpg");
    }

    &.geffen {
        background-image: url("#{$assets}/images/locations/geffen.jpg");
    }

    &.al.de.baran {
        background-image: url("#{$assets}/images/locations/aldebaran.jpg");
    }

    &.morocc.ruins {
        background-image: url("#{$assets}/images/locations/desert.jpg");
    }

    &.field {
        background-image: url("#{$assets}/images/locations/field.jpg");
    }

    &.forest {
        background-image: url("#{$assets}/images/locations/forest.jpg");
    }

    &.desert {
        background-image: url("#{$assets}/images/locations/desert.jpg");
    }

    &.ant.hell {
        background-image: url("#{$assets}/images/locations/ant-hell.jpg");
    }

    &.archer.village {
        background-image: url("#{$assets}/images/locations/archer-village.jpg");
    }

    &.payon.dungeon {
        background-image: url("#{$assets}/images/locations/payon-dungeon.jpg");
    }

    &.orc.village {
        background-image: url("#{$assets}/images/locations/orc-village.jpg");
    }

    &.orc.dungeon {
        background-image: url("#{$assets}/images/locations/orc-cave.jpg");
    }

    &.goblin.village {
        background-image: url("#{$assets}/images/locations/goblin-village.jpg");
    }

    &.mjolnir {
        background-image: url("#{$assets}/images/locations/mountains.jpg");
    }

    &.byalan {
        background-image: url("#{$assets}/images/locations/byalan.jpg");
    }

    &.undersea.tunnel {
        background-image: url("#{$assets}/images/locations/undersea.jpg");
    }

    &__party {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5rem;
        width: 75%;
        position: relative;
        z-index: 2;

        &__slot {
            border: 1px solid #fff;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 7px;
            width: 50px;
            height: 50px;
            margin: 0 0.5rem;
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
            position: relative;

            .avatar__head {
                left: calc(50% - 5px);
            }

            &__name {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-overflow: ellipsis;
                font-size: 0.5rem;
            }

            &__bar {
                width: 100%;
                height: 5px;
                background-color: #a00;
                position: absolute;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                bottom: 0;
                overflow: hidden;
    
                &__hp {
                    position: absolute;
                    height: 5px;
                    background-color: #080;
                    border-bottom-left-radius: 7px;
                }
            }

            &__online {
                position: absolute;
                top: 2px;
                right: 3px;
                border-radius: 50%;
                width: 6px;
                height: 6px;

                &--online {
                    background-color: #090;
                }

                &--offline {
                    background-color: #900;
                }
            }
        }

        &__name {
            border: 1px solid #fff;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 2px;
            width: 250px;
            padding: 0 0.4rem;
            margin: 1rem 0.5rem;
            color: #fff;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }
    }

    &__additions {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        z-index: 2;

        a,
        div {
            color: #fff;
            margin-bottom: 0.5rem;

            &:hover {
                color: #666;
            }
        }

        &--disabled {
            opacity: 0.7;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        max-width: calc(100% - 95px);
    }

    &__action {
        width: calc(50% - 1rem);
        color: #fff;
        text-align: center;
        border: 1px solid $mainColor;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        padding: 0.5rem 0 0 0;
        margin: 0.5rem;
        z-index: 2;

        @media (min-width: $mobileSize) {
            width: calc(25% - 1rem);
        }

        &--prioritize {
            z-index: 3;
        }

        &__image {
            display: block;
            margin: 0 auto;
            height: 65px;
        }

        &__name {
            font-size: 1.2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            padding: 0 0.3rem;

            @media screen and (max-height: 805px) {
                font-size: 1rem;
            }
        }

        &--disabled {
            opacity: 0.7;
        }
    }

    &__action-in-progress {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
        font-size: 1rem;
        color: #fff;
        text-align: center;
        border: 1px solid $mainColor;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > div {
            width: 100%;
        }

        .btn {
            display: block;
            margin: 0.2rem auto;
        }

        &--auto-height {
            height: auto;
        }
    }

    &__hunt-field {
        padding: 1rem 0;
    }
}

.snow {
    &:before {
        content: " ";
        display: block;
        height: 100%;
        background-image: url("#{$assets}/images/snow.png");
        background-repeat: repeat-x;
        background-position: bottom;
    }

    &:last-of-type {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style: none;
        z-index: 1;
        perspective: 800px;

        li {
            display: block;
            background-image: url("#{$assets}/images/snow.png");
            height: 1200px;
            width: 200%;
            margin-left: -50%;
            transform: translateY(-600px);
            transform-origin: 0 0;
            background-repeat: repeat;
            animation: snowfall 20s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            pointer-events: none;

            &:nth-child(2) {
                animation: snowfallX 20s linear infinite;
                background-position: 50px 50px;
                transform: translateY(-600px) translateZ(250px);

                @media (max-width: 1366px) {
                    display: none;
                }
            }
        }
    }

    @keyframes snowfall {
        to {
            transform: translateY(0);
        }
    }

    @keyframes snowfallZ {
        to {
            transform: translateY(0) translateZ(150px);
        }
    }

    @keyframes snowfallX {
        to {
            transform: translateY(0) translateZ(250px);
        }
    }

    @keyframes snowfallY {
        to {
            transform: translateY(0) translateZ(-150px);
        }
    }
}