.game {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/prontera.jpg");

    .info {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ff0;
        outline: 1px solid #000;
        border-radius: 4px;
        background-color: rgb(184, 135, 2);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;

        &__description {
            width: 40%;

            &__name {
                font-weight: bold;
                font-size: 1.1rem;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 130px;
            }
        }

        &__health {
            display: flex;
            flex-wrap: wrap;
            width: 38%;

            &__hp,
            &__mp {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        &__levels {
            width: 25%;

            &__base {
                display: block;
            }
        }

        &__exp {
            width: 25%;
            font-size: 0.9rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &__base {
                width: 100%;
            }
        }

        &__location {
            width: 50%;

            &__place {
                display: block;
            }
        }
    }

    .info-avatar {
        border: 2px solid #00f;
        width: 60px;
        height: 60px;
        position: relative;
        overflow: hidden;
        margin-right: 1rem;

        &__head {
            position: absolute;
            top: 0;
            left: calc(50% - 12px);
        }

        &__body {
            width: 240px;
            height: 240px;
            position: absolute;
            top: -77px;
            left: -92px;
        }
    }
}