.server-down {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");
    height: 100vh;
    display: flex;
    align-items: center;

    .server-down-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.85);
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 0.2rem 0.6rem;
        text-align: center;
        height: 100%;
    }

    &__volume {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: rgba(255, 255, 255, 0.85);
        border: 1px solid #333;
        border-radius: 50%;

        img {
            margin: 0.5rem;
            width: 40px;
            height: 40px;
        }
    }
}