.inventory {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    .inventory-wrapper {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0.8);
    }

    &__weight {
        margin: 1rem 0.5rem;
        padding: 0.2rem 0.4rem;
        border: 2px solid #fff;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 1rem;
        width: calc(100% - 2rem);
        border-radius: 2px;

        &--critical {
            color: #c00;
        }
    }

    &__item {
        width: 60px;
        height: 60px;
        position: relative;
        border: 3px solid #808080;
        border-radius: 8px;
        margin: 1rem 0 1rem 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60%;
        }

        &__amount {
            position: absolute;
            bottom: -5px;
            right: 0;
            font-size: 1rem;
            color: #fff;
        }
    }

    &__info {
        position: absolute;
        width: 90%;
        max-height: 80%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.95);
        font-size: 0.9rem;
        border: 2px solid #000;
        left: calc(50% - 45%);
        top: 10vh;
        border-radius: 4px;
        z-index: 3;
        padding: 1rem;
        display: flex;

        &__illustration {
            width: 75px;
            height: 100px;
            margin-right: 0.5rem;
        }

        &__description {
            width: calc(100% - 75px - 0.5rem);
        }

        &__requirement {
            color: #900;
        }
    }
}