/* Project variables */
$mainColor: #16b3fc !default;
$mainColorOpacity: rgba(22, 179, 252, 0.5) !default;
$secondaryColor: rgb(233, 218, 88);
$bgColor: #000 !default;
$font: "Roboto", sans-serif !default;
$mobileSize: 768px;
$chat-tabs-height: 35px;
$chat-tabs-height-padding: $chat-tabs-height + 10px;
$mobMaxImageWidth: 120px;
$mobMaxImageHeight: 130px;
$assets: "../assets" !default;

$element-fire: #f00;
$element-water: #00e;
$element-wind: #0a0;
$element-earth: #960;
$element-ghost: #999;
$element-holy: #ffd12b;
$element-dark: #540164;

/* Boostrap variables */
$link-hover-decoration: none;
$link-color: $mainColor;
$link-hover-color: #bbb;
$link-hover-decoration: none;
$font-family-base: $font;
$nav-link-padding: 0;
$table-border-width: 0;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;

// Importing lib styles
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Import project styles
@import "./fonts.scss";
@import "./styles.scss";
@import "../src/components/**/*.scss";
@import "../src/pages/**/*.scss";