.hunt-configuration {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("#{$assets}/images/character.jpg");

    &__explanation,
    &__position,
    &__healing,
    &__skills {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 1rem;

        p {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__explanation {
        p {
            padding-bottom: 1rem;
            margin-bottom: 0;
        }

        &__text {
            font-size: 0.9rem;
            padding: 0rem 1rem 1rem 1rem;
        }
    }

    &__position {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;

        &__item {
            position: relative;
            width: 60px;
            height: 60px;
            border: 2px solid #808080;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.8);
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            .avatar {
                border: 0;
                position: absolute;
                top: 25px;
                left: -10px;
                z-index: 3;
                opacity: 0.4;

                &:nth-child(2) {
                    top: 10px;
                    left: 0;
                    z-index: 2;
                }

                &:nth-child(3) {
                    top: 0;
                    left: 10px;
                    z-index: 1;
                }

                &__head {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &__body {
                    display: none;
                }
            }

            &--selected {
                border: 2px solid $mainColor;
            }

            &--frontline .avatar:nth-child(1) {
                opacity: 1;
            }

            &--midline .avatar:nth-child(2) {
                opacity: 1;
            }

            &--backline .avatar:nth-child(3) {
                opacity: 1;
            }
        }
    }

    &__healing {
        .healing-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;

            &__item {
                width: 60px;
                height: 60px;
                position: relative;
                border: 3px solid #808080;
                border-radius: 8px;
                background-color: rgba(0, 0, 0, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 60%;
                }

                &__amount {
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    font-size: 1rem;
                    color: #fff;
                }
            }

            &__incdec {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                color: #fff;
                background-color: rgb(22, 179, 252);
                text-align: center;
                font-size: 1.25rem;
                margin-left: 1rem;
        
                &--disabled {
                    opacity: 0.5;
                }
            }
        }

        .healing-macro {
            display: flex;
            margin: 0 auto 1rem auto;

            > select {
                font-size: 1.25rem;
            }
        }
    }

    .healing-modal {
        width: 90%;
        max-width: 425px;
        padding: 0;

        &__item {
            padding: 1rem;
            border-bottom: 2px solid #333;
            display: flex;
            align-items: center;

            &__image {
                padding-right: 1rem;

                > img {
                    width: 35px;
                }
            }

            &__desc {
                font-size: 0.8rem;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        &__buttons {
            padding: 1rem;
            margin-top: 0;
        }
    }

    &__skills {
        .active-skills {
            display: flex;
            justify-content: space-around;
            margin-bottom: 1rem;
            width: 100%;
    
            &__item {
                width: 60px;
                height: 60px;
                position: relative;
                border: 3px solid #808080;
                border-radius: 8px;
                background-color: rgba(0, 0, 0, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
    
                img {
                    width: 60%;
                }

                &__hp-control,
                &__mp-control {
                    position: absolute;
                    bottom: -5px;
                    right: 0;
                    font-size: 0.8rem;
                    color: #fff;
                }

                &__hp-control {
                    left: 0;
                }
            }
    
            &__incdec {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                color: #fff;
                background-color: rgb(22, 179, 252);
                text-align: center;
                font-size: 1.25rem;
                margin-left: 1rem;
        
                &--disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    .active-skill-modal {
        width: 90%;
        max-width: 425px;
        padding: 0;
        overflow: auto;

        &__item {
            padding: 0.5rem;
            border-bottom: 2px solid #333;
            display: flex;
            align-items: center;

            &__name {
                padding: 0.2rem 0.5rem 0.2rem 0;
                width: 40%;
                text-align: center;
                position: relative;

                > img {
                    width: 35px;
                }

                &--remove {
                    width: 100%;
                }

                &--add:hover {
                    .active-skill-modal__add-notice {
                        display: flex;
                    }
                }
            }

            &__macros {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 60%;

                p {
                    margin-bottom: 0.2rem;
                }
            }

            &__desc {
                font-size: 0.8rem;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        &__buttons {
            padding: 1rem;
            margin-top: 0;
        }

        &__add-notice {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    &__save {
        display: flex;
        margin: 0 auto 35px auto;
    }
}