.attributes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    border-top: 2px solid #999;
    padding: 0 0.5rem 0.5rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);

    &__params {
        width: 32%;
        margin: 0.5rem 0 0.2rem 0;
        border-bottom: 1px solid #999;
        display: flex;
        justify-content: space-between;

        &--full {
            width: 100%;
        }

        &--half {
            width: 48%;
        }
    
        &__label {
            width: 45%;
        }
    
        &__value {
            width: 55%;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(22, 179, 252);
        }
    }
}